.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-item {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin-right: 20px;
  background-color: #1df628;
}
.scroll-buttons {
  margin-top: 10px;
  margin-left: 20%;
}
.scroll-button {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.scroll-button:hover {
  background-color: #0056b3;
}